<!doctype html>
<head>
	<title>MemesExplained</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
  <script src="/static/script.js"></script>
</head>
<body>
  <div ="header">
  <img src="https://pbs.twimg.com/media/FB5fIwxWYAUqIw7?format=png&name=900x900" width="100" height="50">
  </div>
	<header
  style="font-family: comic sans ms;">Are you a Sussy Baka?
  </header>

  <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/2019">2019</a>
  <a href="/2020">2020</a>
  </div>

<button onclick="myFunction()">Toggle Dark mode</button>

	<p>
		Memes are explained here.
    <br>
	</p>
  <hr>
  <aside>
  <img src="https://th.bing.com/th/id/OIP.3-A8JwT_jjYhv7uP7AeuWgHaGG?pid=ImgDet&rs=1" width="250x">
  <img src="https://th.bing.com/th/id/OIP.BZS75JRkrR90M-GKt4ScHwHaHW?pid=ImgDet&w=720&h=715&rs=1"
  width="200x">
  </aside>
  <p>
    Memes in 2019:
  <br>
  {%for meme in Memes19%}

    {{meme}} <br>
      
  {%endfor%}
  </p>
  <hr>
  <p>
    Memes in 2020:
  <br>
  {%for meme in Memes20%}

    {{meme}} <br>
      
  {%endfor%}
  </p>
  <p>
    <h1>What is your favourite meme</h1>
  </p>
  
  <form action="/Question-Data" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
  </div>

  <div>
    <label for="memes">Meme:</label>
    <input type="text" id="mail" name="Meme">
  </div>

  <div>
    <label for="msg">Reason:</label>
    <textarea id="msg" name="Reason"></textarea>
  </div>

  <div>
    <input type="submit" value="Verzend bericht">
  </div>
</form>


</body>

