<!doctype html>
<head>
	<title>MemesExplained</title>
	<link href="/static/style-2020.css" rel="stylesheet" type="text/css">
  <script src="/static/script.js"></script>
</head>

<body>
  <div ="header">
  <img src="https://pbs.twimg.com/media/FB5fIwxWYAUqIw7?format=png&name=900x900" width="100" height="50">
  </div>
	<header
  style="font-family: comic sans ms;">Are you a Sussy Baka?
  </header>

  <div class="topnav">
  <a href="">Home</a>
  <a href="/2019">2019</a>
  <a class="active" href="/2020">2020</a>
  </div>
  <button onclick="myFunction()">Toggle Dark Mode</button>

	<h1>Memes from 2020</h1>
	<p>
		Among Us is a 2018 online multiplayer social deduction game developed and published by American game studio Innersloth. The game was inspired by the party game Mafia and the science fiction horror film The Thing. It allows for cross-platform play, first being released on iOS and Android devices in June 2018 and on Windows later that year in November. The game was then ported to the Nintendo Switch in December 2020, and will release on PlayStation 4, PlayStation 5, Xbox One and Xbox Series X/S in December 2021. While the game was initially released in 2018, to little mainstream attention, it received a massive influx of popularity in 2020 due to many well-known Twitch streamers and YouTubers playing it. The timing of the COVID-19 pandemic has also been credited with boosting the game's popularity.
    The game received positive reviews from critics, being praised for its gameplay and setting but criticized for technical issues. In response to the game's popularity, a planned sequel, Among Us 2, was hastily announced in August 2020. However, it was canceled a month later and the team shifted its focus to improving the original game, which has over time inspired the creation of multiple internet memes, mostly related to the slang term sus (e.g., "Sussy Baka").
  </p>
  
  <div class="img">
    <img src="https://th.bing.com/th/id/OIP.3-A8JwT_jjYhv7uP7AeuWgHaGG?pid=ImgDet&rs=1" width="150x">
  </div>
  <p>
    Among Us is a game made by <a href="https://among-us.fandom.com/wiki/Innersloth#:~:text=Innersloth%20is%20a%20Redmond%2C%20Washington%20-based%20video%20game-development,for%20Windows%2C%20macOS%2C%20Nintendo%20Switch%2C%20and%20mobile%20devices.">Innersloth</a>.
  </p>
</body>